<section id="portfolio4" >
    <div class="content-wrapper">
        <div class="inner-container container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="section-heading" >
                        <h4>Inspirer / Découvrir</h4>
                        <div class="line-dec"></div>

                        <div class="filter-categories">
                            <ul class="project-filter">

                                <li class="filter" data-filter="cuisine"><span>Cuisine</span></li>
                                <li class="filter" data-filter="salle de bain et wc"><span> Salle De Bain et
                                        WC</span>
                                </li>
                                <li class="filter" data-filter="chambre adulte"><span>Chambre Adulte</span></li>
                                <li class="filter" data-filter="piéce à vivre"><span>Piéce à Vivre </span></li>
                                <li class="filter" data-filter="salle à manger"><span>Salle à Manger</span></li>
                                <li class="filter" data-filter="extérieur et jardin"><span>Extérieur & Jardin</span>
                                </li>
                                <li class="filter" data-filter="chambre enfant"><span>Chambre Enfant</span></li>
                                <li class="filter" data-filter="bureau"><span>Bureau</span></li>
                                <li class="filter" data-filter="façade"><span>Façade</span></li>
                                <li class="filter" data-filter="escalier"><span>Escalier</span></li>
                                <li class="filter" data-filter="restaurant et café"><span>Restaurant & Café</span>
                                </li>
                                <li class="filter" data-filter="immeuble"><span>Immeuble</span></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="projects-holder-3">
                        <div class="projects-holder">
                            <div class="row">
                                <div *ngFor="let inspire of myInspires ;let i=index" >
                                    <div class="col-md-6 col-sm-6 project-item mix {{inspire.cat}} ">
                                        <div class="thumb">
                                            <div class="image">
                                                <a href={{inspire.image_url}}
                                                    data-lightbox="image-1"><img
                                                        src={{inspire.image_url}}></a>
                                                        <p
                                                        style="font-family:courier,arial,helvetica;font-size: larger; color: black;">
                                                        {{inspire.name}}</p>
                                                        
                                            </div>
                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>