.w-full max-w-xs {
    justify-content: center;
}

.invalid-feedback{
    background-color: white;
    color:tomato;
}
.is-invalid{
    background-color: white;
    color:tomato;
}
img.rounded-corners {
    border-radius: 50%;
  }