<section id="partenaires" style="background-color: gray;">
    <div class="content-wrapper">
        <div class="inner-container container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="section-heading">
                        <h1 style="font-family: sans-serif;">Nos Partenaires</h1>
                        <div class="line-dec"></div>
                        
                        <div class="filter-categories">
                            <ul class="project-filter">
                                <li class="filter" data-filter="all"><span>Tous Nos Partenaires</span></li>
                                <li class="filter" data-filter="branding"><span>Ooredoo</span></li>
                                <li class="filter" data-filter="graphic"><span>Sabrine</span></li>
                                <li class="filter" data-filter="nature"><span>Ridge</span></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="projects-holder-3">
                        <div class="projects-holder">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 project-item mix branding">
                                    <div class="thumb">
                                        <div class="image">
                                            <a href="assets/img/ooredoo.jpg" data-lightbox="image-1"><img
                                                    src="assets/img/ooredoo.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix graphic">
                                    <div class="thumb">
                                        <div class="image">
                                            <a href="assets/img/sabrine.jpg" data-lightbox="image-1"><img
                                                    src="assets/img/sabrine.jpg"></a>
                                                    
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix nature">
                                    <div class="thumb">
                                        <div class="image">
                                            <a href="assets/img/ridge.jpg" data-lightbox="image-1"><img
                                                    src="assets/img/ridge.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>