<div class="tabs-content" id="blog">
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <div class="col-md-4">
                    <div class="section-heading">
                        <h4>Nos Travaux</h4>
                        <div class="line-dec"></div>

                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#tab1" class="active">Construction & Rénovation ►</a></li>
                            <li><a href="#tab2">Architecture & Bureau d'études ►</a></li>
                            <li><a href="#tab3">Freelance ►</a></li>
                            <li><a href="#tab4">Extension ►</a></li>
                            <li><a href="#">Toiture </a></li>
                            <li><a href="#">Toit-terrasse</a></li>

                        </ul>

                    </div>

                    <div class="section-heading">

                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#tab5">Démolition ►</a></li>
                            <li><a href="#tab6">Terrassement ►</a></li>
                            <li><a href="#">Assainissement</a></li>
                            <li><a href="#tab7">Mur - Cloison - Plafond ►</a></li>
                            <li><a href="#">Mur extérieur - Façade </a></li>
                            <li><a href="#tab8">Sol - Plancher ►</a></li>

                        </ul>

                    </div>
                    <div class="section-heading">

                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#tab9">Revêtement ►</a></li>
                            <li><a href="#">Plomberie</a></li>
                            <li><a href="#">Electricité </a></li>
                            <li><a href="#tab10">Domotique ►</a></li>
                            <li><a href="#">Cuisine </a></li>
                            <li><a href="#tab11">Salle de bains - Spa ►</a></li>

                        </ul>

                    </div>
                    <div class="section-heading">

                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#">Isolation - Etanchéité</a></li>
                            <li><a href="#">Chauffage - Cheminée</a></li>
                            <li><a href="#">Climatisation </a></li>
                            <li><a href="#tab12">Porte - Fenêtre - Volet ►</a></li>
                            <li><a href="#">Escalier - Garde-corps </a></li>
                            <li><a href="#">Dressing</a></li>

                        </ul>

                    </div>
                    <div class="section-heading">

                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#">Energie renouvelable </a></li>


                        </ul>
                    </div>



                </div>
                <div class="col-md-8">
                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <img src="assets/img/blog_item_01.jpg" alt="">
                            <div class="text-content">
                                <h4><a href="#">Rénovation de maison</a></h4>
                                <h4><a href="#">Rénovation d’appartement</a></h4>
                                <h4><a href="#">Rénovation d’immeuble</a></h4>
                                <h4><a href="#">Aménagement de loft</a></h4>
                                <h4><a href="#">Rénovation de pièce à vivre</a></h4>
                                <h4><a href="#">Rénovation de cave, grenier, garage
                                    </a></h4>
                                <h4><a href="#">Transformation d’une pièce existante</a></h4>
                                <h4><a href="#">Transformation en pièce à vivre de cave, grenier, etc</a></h4>
                                <h4><a href="#">Rénovation péniche habitable</a></h4>
                                <h4><a href="#">Rénovation des menuiseries (porte et fenêtre)</a></h4>
                                <h4><a href="#">
                                        Travaux de restauration patrimoine historique</a></h4>

                            </div>
                        </div>
                        <div id="tab2">
                            <img src="assets/img/blog_item_02.jpg" alt="">
                            <div class="text-content">
                                <h4><a href="#">Architecture d’intérieur</a></h4>
                                <h4><a href="#">Architecture (construction neuve, extension, etc)</a></h4>
                                <h4><a href="#">Décoration d’intérieur</a></h4>
                                <h4><a href="#">Plans pour maison individuelle</a></h4>
                                <h4><a href="#">Plans d’aménagement intérieur
                                    </a></h4>
                                <h4><a href="#">Plans d’aménagement intérieur

                                    </a></h4>
                                <h4><a href="#">Déclaration préalable de travaux</a></h4>
                                <h4><a href="#">Bureau d’études structure</a></h4>
                                <h4><a href="#">
                                        Bureau d’études fluides (chauffage, ventilation, etc)</a></h4>
                                <h4><a href="#">Assurance Dommages Ouvrage
                                    </a></h4>

                            </div>
                        </div>
                        <div id="tab3">
                            <img src="assets/img/blog_item_03.jpg" alt="">
                            <div class="text-content">
                                <h4><a href="#">Architecture</a></h4>
                                <h4><a href="#">Projeteur</a></h4>
                                <h4><a href="#">Ingénieur</a></h4>
                            </div>
                        </div>
                        <div id="tab4">
                            <img src="assets/img/blog_item_04.jpg" alt="">
                            <div class="text-content">
                                <h4><a href="#">Extension de maison en maçonnerie</a></h4>
                                <h4><a href="#">Surélévation en maçonnerie</a></h4>
                                <h4><a href="#">Aménagement de combles existants
                                    </a></h4>
                                <h4><a href="#">Construction de mezzanine</a></h4>
                                <h4><a href="#">
                                        Construction de garage</a></h4>
                            </div>
                        </div>
                        <div id="tab5">
                            <img src="assets/img/blog_item_05.jpg" alt="">
                            <div class="text-content">
                                <h4><a href="#">Démolition mur porteur - agrandir une pièce</a></h4>
                                <h4><a href="#">Démolition mur non porteur - agrandir une pièce</a></h4>
                                <h4><a href="#">Travaux de démolition (à déterminer)
                                    </a></h4>
                                <h4><a href="#">Travaux d’ouverture (murs porteurs)</a></h4>
                                <h4><a href="#">
                                        Travaux d’ouverture (murs non porteurs)
                                    </a></h4>
                                <h4><a href="#">Ouverture pour escalier</a></h4>
                                <h4><a href="#">Sciage de paroi béton (ouverture)</a></h4>
                                <h4><a href="#">Travaux de carottage paroi béton (trou)</a></h4>
                                <h4><a href="#">Déblaiement - enlèvement de gravats</a></h4>
                                <h4><a href="#">Diagnostic démolition - Etude Structure
                                    </a></h4>
                            </div>
                        </div>
                        <div id="tab6">
                            <img src="assets/img/blog_item_06.jpg" alt="">
                            <div class="text-content">
                                <h4><a href="#">Terrassement pour niveler un terrain</a></h4>
                                <h4><a href="#">Terrassement pour créer une plate-forme</a></h4>
                                <h4><a href="#">

                                        Réalisation d'un mur de soutènement


                                    </a></h4>
                                <h4><a href="#">Enrochement</a></h4>
                                <h4><a href="#">
                                        Excavation (creux dans un terrain)
                                    </a></h4>
                                <h4><a href="#">Travaux de terrassement (à déterminer)</a></h4>
                                
                            </div>
                        </div>
                        <div id="tab7">
                            <img src="assets/img/blog_item_07.jpg" alt="">
                            <div class="text-content">
                                <h4><a href="#">Construction mur en maçonnerie</a></h4>
                                <h4><a href="#">Rénovation et reprise de mur</a></h4>
                                <h4><a href="#">

                                    Isolation thermique des murs par l'intérieur (ITI)

                                    </a></h4>
                                <h4><a href="#">Réalisation de mur végétalisé</a></h4>
                                <h4><a href="#">
                                    Travaux d’ouverture
                                    </a></h4>
                                <h4><a href="#">Etude structure mur porteur
                                </a></h4>
                                <h4><a href="#">
                                    Fabrication et pose de verrière
                                    
                                </a></h4>
                                <h4><a href="#">Plafond
                                </a></h4>
                                <h4><a href="#">Ornement plâtre (corniche, moulure, rosace)
                                </a></h4>
                                <h4><a href="#">Caisson décoratif pour conduit de cheminée
                                </a></h4>
                                <h4><a href="#">Cloison
                                </a></h4>
                                
                            </div>
                        </div>
                        <div id="tab8">
                            <img src="assets/img/blog_item_08.jpg" alt="">
                            <div class="text-content">
                                
                                <h4><a href="#">Réalisation de dalle en béton armé</a></h4>
                                <h4><a href="#">Réalisation de chape béton</a></h4>
                                <h4><a href="#">Réalisation de plancher</a></h4>
                                <h4><a href="#">Renforcement de plancher</a></h4>
                                <h4><a href="#">Construction chape sèche pour plancher bois
                                </a></h4>
                                <h4><a href="#">Lissage de sol intérieur existant (ragréage)</a></h4>
                                <h4><a href="#">Ouverture pour escalier</a></h4>
                                <h4><a href="#">Etude structure plancher</a></h4>
                                <h4><a href="#">Pose de barre de seuil entre 2 pièces</a></h4>
                                
                                
                                
                            </div>
                        </div><div id="tab9">
                            <img src="assets/img/blog_item_09.jpg" alt="">
                            <div class="text-content">
                                
                                <h4><a href="#">Carrelage</a></h4>
                                <h4><a href="#">Parquet et sol stratifié</a></h4>
                                <h4><a href="#">Moquette, sisal, PVC, lino</a></h4>
                                <h4><a href="#">Marbre, pierre et galet</a></h4>
                                <h4><a href="#">Enduit, béton ciré et crépis
                                </a></h4>
                                <h4><a href="#">Plinthe
                                </a></h4>
                                <h4><a href="#">Installation de crédence</a></h4>
                                <h4><a href="#">Peinture, papier peint</a></h4>
                                <h4><a href="#">Bardage et parement mural</a></h4>

                                <h4><a href="#">Pose de lambris intérieur</a></h4>
                                <h4><a href="#">Nettoyage en profondeur (sablage, gommage)</a></h4>
                                
                                
                                
                                
                            </div>
                        </div>
                    <div id="tab10">
                        <img src="assets/img/blog_item_10.jpg" alt="">
                        <div class="text-content">
                            
                            <h4><a href="#">Pose de système de commande domotique</a></h4>
                            <h4><a href="#">Installation système de suivi conso énergétique</a></h4>
                            <h4><a href="#">Installation domotique pour PMR
                            </a></h4>
                            <h4><a href="#">Régulation radiateur à eau</a></h4>
                            <h4><a href="#">Régulation pour plancher chauffant à eau
                            </a></h4>
                            <h4><a href="#">Régulation pour plancher chauffant électrique
                        
                            </a></h4>
                            
                            
                            
                            
                        </div>
                    </div>
                    <div id="tab11">
                        <img src="assets/img/blog_item_11.jpg" alt="">
                        <div class="text-content">
                            
                            <h4><a href="#">Installation de salle de bains complète</a></h4>
                            <h4><a href="#">Installation de sanitaire (baignoire, bac à douche, WC, bidet)</a></h4>
                            <h4><a href="#">Création d'une douche à l'italienne
                            </a></h4>
                            <h4><a href="#">Installation d'une cabine de douche</a></h4>
                            <h4><a href="#">Installation de pare baignoire - pare douche
                            </a></h4>
                            <h4><a href="#">Remplacement d'une colonne de douche

                        
                            </a></h4>
                            <h4><a href="#">Mobilier</a></h4>
                            <h4><a href="#">
                                Installation sèche-serviette électrique</a></h4>
                            <h4><a href="#">Réalisation de joint silicone pour cuisine et salle de bains</a></h4>
                            <h4><a href="#">Jacuzzi, hammam et sauna</a></h4>
                            

                            
                            
                            
                            
                        </div>
                    </div>
                    <div id="tab12">
                        <img src="assets/img/blog_item_12.jpg" alt="">
                        <div class="text-content">
                            
                            <h4><a href="#">Porte</a></h4>
                            <h4><a href="#">Fenêtre et porte-fenêtre</a></h4>
                            <h4><a href="#">Isolation porte et fenêtre
                            </a></h4>
                            <h4><a href="#">Store et volet</a></h4>
                            <h4><a href="#">Baie vitrée
                            </a></h4>
                            <h4><a href="#">Remplacement de vitre


                        
                            </a></h4>
                            <h4><a href="#">Création-restauration de vitrail</a></h4>
                            <h4><a href="#">
                                Serrure (installation ou remplacement)</a></h4>
                            <h4><a href="#">Saut de loup (lumière naturelle en sous-sol)</a></h4>
                            <h4><a href="#">Installation de puits de lumière sur toit-terrasse (skydome)</a></h4>
                            <h4><a href="#">Pose de grille anti-effraction devant fenêtre</a></h4>
                            

                            
                            
                            
                            
                        </div>
                    </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>